<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<div class="container">
 <form action="create" method="GET">
 <div class="form-group">
 <label for="question">문제</label>
 <input type="text" id="question" name="question" placeholder="문제를
입력하세요">
 <label for="classification">분류</label>
 <input type="text" id="classification" name="classification" placeholder="분류를
입력하세요">
 <label for="answer">정답</label>
 <input type="text" id="answer" name="answer" placeholder="문제를
입력하세요">
 </div>
 <button type="submit">등록</button>
 </form>
</div> <!-- /container -->
</body>
</html>